<mat-card class="form-card">
    <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title"><strong>Add Manager</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="managerForm" (ngSubmit)="save()">
            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Manager Name</mat-label>
                <input matInput type="text" formControlName="managerName" />
                <mat-error *ngIf="f['managerName'].hasError('required')">Manager Name is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Join Date</mat-label>
                <input matInput [matDatepicker]="joinDatePicker" formControlName="joinDate" />
                <mat-datepicker-toggle matSuffix [for]="joinDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #joinDatePicker></mat-datepicker>
                <mat-error *ngIf="f['joinDate'].hasError('required')">Join Date is <strong>required</strong></mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                <mat-error *ngIf="f['email'].hasError('required')">Email is <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" formControlName="phone" />
                <mat-error *ngIf="f['phone'].hasError('required')">Phone is <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address" />
                <mat-error *ngIf="f['address'].hasError('required')">Address is <strong>required</strong></mat-error>
            </mat-form-field>

            <!--Here is Manager Image Field-->

            <mat-form-field appearance="outline" class="f-w">
                <mat-label>Profile Picture</mat-label>
                <input matInput type="text" formControlName="picture" [readonly]="managerImage !=null" />
                <mat-icon matSuffix (click)="uploadManagerPicture.click()" style="cursor: pointer;">image</mat-icon>
                <mat-error *ngIf="f['picture'].hasError('required')">Profile Picture is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <div class="sizediv">
                <mat-card-title><strong>Add Events</strong></mat-card-title>
                <a mat-icon-button (click)="addEvent()"><mat-icon>add</mat-icon></a>
            </div>

            <ng-container formArrayName="events">
                <ng-container *ngFor="let p of events.controls; let i = index">
                    <div [formGroupName]="i" class="events-row">

                      

                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Manager</mat-label>
                            <mat-select formControlName="managerId" >
                                <mat-option *ngFor="let manager of managers" [value]="manager.managerId">              
                                  {{ manager.managerName }} 
                                </mat-option>
                              </mat-select>                            
                              <mat-error *ngIf="events.controls[i].get('managerId')?.hasError('required')">Event Name is
                                <strong>required</strong></mat-error>
                        </mat-form-field>   -->

                        <mat-form-field appearance="outline">
                            <mat-label>Selection Panel</mat-label>
                            <mat-select formControlName="selectionPanelId">
                                <mat-option *ngFor="let selectionPanel of selectionPanels" [value]="selectionPanel.selectionPanelId">
                                  {{ selectionPanel.selectionPanelName }}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="events.controls[i].get('selectionPanelId')?.hasError('required')">Selection Panel Name is
                                <strong>required</strong></mat-error>
                        </mat-form-field>                  

                        <mat-form-field appearance="outline">
                            <mat-label>Event Name</mat-label>
                            <input matInput formControlName="eventName">
                            <mat-error *ngIf="events.controls[i].get('eventName')?.hasError('required')">Event Name is
                                <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input matInput formControlName="startDate" [matDatepicker]="startPicker">
                            <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                            <mat-error *ngIf="events.controls[i].get('startDate')?.hasError('required')">Start Date is
                                <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>End Date</mat-label>
                            <input matInput formControlName="endDate" [matDatepicker]="endPicker">
                            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                            <mat-error *ngIf="events.controls[i].get('endDate')?.hasError('required')">End Date is
                                <strong>required</strong></mat-error>
                        </mat-form-field>

                       <!--Here is Event Image Field-->

                        <mat-form-field appearance="outline">
                            <mat-label>Event Picture</mat-label>
                            <input matInput type="text"  formControlName="picture" [readonly]="eventImage != null" />
                            <mat-icon matSuffix (click)="getEventId(i);uploadEventPicture.click()"  style="cursor: pointer;">image</mat-icon>
                            <mat-error *ngIf="events.controls[i].get('picture')?.hasError('required')">Picture is
                                <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Location</mat-label>
                            <input matInput formControlName="location">
                            <mat-error *ngIf="events.controls[i].get('location')?.hasError('required')">Location is
                                <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                            <mat-error *ngIf="events.controls[i].get('description')?.hasError('required')">Description
                                is <strong>required</strong></mat-error>
                        </mat-form-field>                      
                                               
                        <button class="deletebtn" type="button" (click)="remove(i)" mat-icon-button><mat-icon>delete</mat-icon></button>
                                               
                    </div>
                </ng-container>
            </ng-container>

            <div class="p-f-w">
                <button class="backbtn" mat-raised-button [routerLink]="['/manager-list']" >Back to List</button>
                <button class="savebtn" type="submit" mat-raised-button >Save to Database</button>
            </div>

        </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<!--Here is Manager Image Input -->
<input type="file" #uploadManagerPicture hidden="true" (change)="onFileSelectManager($event)" />

<!--Here is Manager Image Input -->
<input type="file" #uploadEventPicture hidden="true" (change)="onFileSelectEvent($event)" />


<!-- {{managerForm.value|json}} 
{{managerForm.valid}} -->

