<div class="login-container">
    <div class="form-container mat-elevation-z8">
      <div class="form-header mat-elevation-z9">
        <mat-toolbar color="warn">Register</mat-toolbar>
      </div>
      <form class="form" #registerForm="ngForm" (ngSubmit)="register()">
        <!-- Your registration form fields -->
        <mat-form-field class="f-w">
          <mat-label>Name</mat-label>
          <input matInput name="username" [(ngModel)]="data.username" #username="ngModel" required>
          <mat-error>
            <div *ngIf="!username.pristine && username.errors">Username required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="data.email" #email="ngModel" required email>
          <mat-error>
            <div *ngIf="!email.pristine && email.errors">Invalid email</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Phone</mat-label>
          <input matInput name="phoneNumber" [(ngModel)]="data.phoneNumber" #phoneNumber="ngModel" required>
          <mat-error>
            <div *ngIf="!phoneNumber.pristine && phoneNumber.errors">Phone is required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Password</mat-label>
          <input matInput name="password" [(ngModel)]="data.password" #password="ngModel" required>
          <mat-error>
            <div *ngIf="!password.pristine && password.errors">Password required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="confirmPassword" [(ngModel)]="data.confirmPassword" #confirmPassword="ngModel" required>
          <mat-error>
            <div *ngIf="!confirmPassword.pristine && confirmPassword.errors">Passwords must match</div>
          </mat-error>
        </mat-form-field>
  
        <!-- Your registration form buttons -->
        <div style="text-align: end;">
            Already have an account?
        </div>
        <div class="f-w" style="display:flex;justify-content: space-between;">
          <button  mat-raised-button type="submit" style="background-color: white; color: black; width: 180px;">Register</button>
          
          <button [routerLink]="['/login']" mat-raised-button type="button" style="background-color: white; color: black; width: 180px;">Login</button>
        </div>
        <div style="text-align: center; margin: 20px auto;">
            ______ or Register using another way_____
        </div> 
        <div id="google-btn" style="display: flex; justify-content: center; margin: 20px;"></div>

        <div class="f-w" style="margin-top: 10px;">
          <!-- <div id="google-btn" class="google-btn" style="margin-bottom: 10px;"></div>
          <button [routerLink]="['/facebook-register']" mat-raised-button type="submit" style="background-color: rgb(14, 51, 174); color: rgb(255, 255, 255); width: 370px;">Continue with Facebook</button> -->
        
            <!-- <div id="g_id_onload"
                data-client_id="647134436725-766v9rtb070ke3m99q7m3ani8mh55s7o.apps.googleusercontent.com"
                data-context="signup"
                data-ux_mode="redirect"
                data-login_uri="http://localhost:4200"
                data-auto_prompt="false">
            </div>

            <div style="display: flex; justify-content: center;" 
            class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div> -->
        </div>
      </form>
    </div>
  </div>
  