<div class="navbar">
    <div class="top">
    </div>
    <div class="academy">
        <h3 [routerLink]="['/home']" class="name" style="cursor: pointer;">SportsEdge</h3>
        <p class="user">{{ authService.userName }}</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <p>______Dashboard______</p>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/admin-dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/manager-list']">
                <mat-icon>person</mat-icon>
                <span>Manager</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/event-list']">
                <mat-icon>event_note</mat-icon>
                <span>Events</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/selectionPanel-list']">
                <mat-icon>event_note</mat-icon>
                <span>Selection Panel</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/team-list']">
                <mat-icon>pages</mat-icon>
                <span>Teams</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/player-list']">
                <mat-icon>groups</mat-icon>
                <span>Players</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/applicant-list']">
                <mat-icon>event_note</mat-icon>
                <span>Applicants</span>
            </button>
            <!-- <button mat-button class="menu-button">
                <mat-icon>local_atm</mat-icon>
                <span>Payment</span>
            </button> -->
            <button mat-button class="menu-button" [routerLink]="['/settings-list']">
                <mat-icon>settings_applications</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/profile']">
                <mat-icon>settings_applications</mat-icon>
                <span>Profile</span>
            </button>
        </div>
    </div>
</div>