<div class="navbar">
    <div class="top">
    </div>
    <div class="academy">
        <h3 [routerLink]="['/home']" class="name" style="cursor: pointer;">SportsEdge</h3>
        <p class="user">{{ authService.userName }}</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <p>______Dashboard______</p>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/player-dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>         
            <button mat-button class="menu-button" [routerLink]="['/player-team-list']">
                <mat-icon>pages</mat-icon>
                <span>Teams</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/player-player-list']">
                <mat-icon>groups</mat-icon>
                <span>Players</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/player-profile']">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
        </div>
    </div>
</div>
