.list-card[b-il8bpe6x34]{
    margin-top:90px;
}
.left-content[b-il8bpe6x34] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-content[b-il8bpe6x34] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Adjust the margin or padding as needed */
.left-content[b-il8bpe6x34],
.right-content[b-il8bpe6x34] {
    margin-right: 16px; /* Adjust the spacing as needed */
}
