.card-f {
    width: 60%;
    margin-top: 50px;
    margin: 10px auto;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form-field {
    width: 48%;
    margin-bottom: 16px;
}
